*{
    margin: 0px;
    padding: 0em;
    border: 1px solid black rgb(0, 0, 0);
}

main{
   background-color: whitesmoke;
}

header{
    background-color: rgb(252, 194, 4);   
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;

    }

.company{
    font-size: 20px;
    padding-left: 20px;
}

.Travel-logo img {
    height: 20vh;
    margin: -4px;
    padding: 0px;
}

nav ul{
    display: flex;
    justify-content: center;
        text-decoration: none;
       

}

nav ul li {
    padding: 0px;
    list-style-type: none;
    font-size: 20px;
    background-color:rgb(36, 83, 238);
    margin: 20px;
    flex-basis: 8%;
    text-align: center;
    border-radius: 10px;

}

nav ul :hover {
    background-color:purple;
}

.current {
    background-color: purple;
    
}
a{
    text-decoration: none;
    color: white;
}

.country-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 20px;
}

.list{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 220px;
    
}

.landmarks{
    padding-left: 72px;
    text-align: center;

}

.cities{
    text-align: center;

}

.famous{
    text-align: center;
}


ul{
    list-style-type: none;
}

.bullet li{
    padding-bottom: 10px;
    padding-top: 15px;
}

h3{
    font-style: italic;
    color: rgb(109, 3, 196);
    text-decoration: underline;
}

footer{
    text-align: center;
    padding-top: 20px;
}


